* {
    margin: 0;
    padding: 0;
}

/* styling the header */

header {
    background-color: darkslategray;
    height: 205px;
}

.nav-bar {
    padding-left: 200px; 
    justify-content: space-between; 
    height: 100%;
}

.f {
   padding-top: 25px;
}

.menu-bar ul  {
    display: flex; 
    text-decoration: none;
    list-style: none;
    gap: 15px; 
}
.nav-bar a {
    text-decoration: none;
    color: black;
}
.menu-bar a.active {
    color: #e74c3c;
}

.Bussiness, .Box {
    font-size: 30px;
    display: inline-block; 
    margin-bottom: 35px;
   
}

.Bussiness {
    color: coral;
    padding-right: 10px;
    
}

.Box {
    color: white;
}

.nav-bar h3 {
    padding-left: 80px;
    color: white;

}

.menu-bar li {
    padding: 10px;
    border-radius: 5px;
    background-color: aquamarine;
}

.menu-bar li:hover {
    background-color: lightgray; /* Hover effect for menu items */
}
footer {
    background-color: darkslategray;
    margin-top: 10px;
    color: white;
}

.first-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    padding: 20px 200px;
}

.images {
    margin-right: 50px;
}
.images-1{
    margin-top: 20px;
}
.images-1,
.images-2 {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.about-content{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.about{
    width: 400px;
    margin-right: 50px;
}
.about , .about-img{
    max-height: 90px;
}
.about,.extra{
    width: 250px;
}
.about-content , .about-text{
    width: 250px;
}

.contact-intro{
    margin-top: 20px;
    margin-bottom: 15px;
    width: 250px;
}

.secound-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    color: white;
    padding: 20px 200px;
} 
.menus ul {
    display: flex;
    list-style: none;
    gap: 15px;
}


 .menus ul li:hover {
    text-decoration: underline;
    color: blue;
}  

/* styling the content */

.main-section{
    display: flex;
}

.firts-main{
    max-width: 600px;
    padding-left: 200px;
    padding-right: 75px;
}
.content-3{
    padding-left: 100px;
    
}
 .heading{
    margin-bottom: 15px;
 }
 .s223{
    margin-bottom: 30px;
 }

 .heading{
    color: chocolate;
    margin-top: 20px;
 }
 .content-3 ul{
    list-style-type: none;
    
    
 }
 .lin{
    color: black;
    text-decoration: none;
    
 }
 .s23 .s223 ul li,
.s23 .sponsors ul li {
    margin-bottom: 10px;
}
.sponsors ul li p {
    color: gray; 
    font-size: 14px; 
    opacity: 0.7;
    margin: 5px 0 0; 
}